<!DOCTYPE html>
<html>
<head>
  <title>Pdv auth api</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "pdv_auth_api/application", media: "all" %>
  <%= javascript_include_tag "pdv_auth_api/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
